.titulo-principal {
  background-color: #2e2c2f; /* Color de fondo */
  color: white;              /* Para asegurar que el texto sea legible */
  padding: 20px;             /* Espaciado alrededor del texto */
  text-align: center;        /* Alineación del texto */
}
h1 h2
{
  background-color: white;
}
 h2
{
  background-color: white;
}