.titulo-principal {
  background-color: #2e2c2f; /* Color de fondo */
  color: white;              /* Para asegurar que el texto sea legible */
  padding: 20px;             /* Espaciado alrededor del texto */
  text-align: center;        /* Alineación del texto */
}
.titulo-principal h1,.titulo-principal h2 {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 2rem;  /* Ajusta el tamaño de la fuente */
}
